/*! bulmaswatch v0.6.2 | MIT License */
@import "{}/node_modules/bulmaswatch/cerulean/variables";
@import "{}/node_modules/bulma_scss/bulma";
@import "{}/node_modules/bulmaswatch/cerulean/overrides";

// Global namespace
html,
body,
#app,
.full-coverage {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

// App layout

// Pages

// Components
.is-hoverable {
  z-index: 1;
}

.item-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.item-image {
  padding-left: 20%;
  padding-right: 20%;

  img {
    height: 239px;
  }
}

.item-attribute {
  width: 30px;
  display: inline-block;
}

.item-uv,
.item-dc {
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.item-uv {
  color: purple;
}
